*.o
*.lo
*.a
.deps
Makefile
Makefile.in
*.*~
*.sw?
.libs
*.pyc
*.gcda
*.gcno

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh

nbproject/*